h1{
    float: left;
    color: orange;
    font-size: 42px;
    font: bold;
    padding-left: 15px;
}

nav{
    background-color: grey;
    padding: 15px;
    width: 100%;
}

nav ul{
    text-align: center;
    font-size: 1.2em;
}

nav ul li{
    list-style-type: none;
    background-color: orange;
    display: inline;
    padding: 15px;
    margin: 5px;
    border: 2px solid green;
}

nav ul li a{
    color: white;
    text-decoration: none;
}

nav ul li:hover{
    border: 2px solid rgb(0, 0, 0);
    background-color: green;
}

#active{
    background-color: orangered;
}

header{
    color: navajowhite;
    background-image: url(../images/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    border: 1px solid rgb(0, 0, 0);
}

aside{
    color: rgb(0, 0, 0);
    border: 1px solid green;
    float: right;
}

aside ul{
    text-align: left;
    font-size: 1.2em;
}

aside ul li{
    color: blue;
    text-decoration: none;
}

aside ul li a{
    list-style-type: none;
}

footer {
    padding: 0;
    border: 1px solid green;
    margin: 0;
    position: relative;
    bottom: 0px;
    width: 100%;
    background-color: orange;
    text-align: center;
    clear: both;
}

main{
    color: rgb(0, 0, 0);
    
    margin-bottom: 5px;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    border: 1px solid green;
}

.columns{
    column-count: 2;
    column-rule: 1px solid black;
    column-gap: 30px;
}

.info{
    margin-left: 2px;
}

.video{
    float: left;
    width: 50%;
}

video {
    display: block;
    width: 95%;
    max-width: 1600px;
    margin: 20px auto;
    border: 4px solid orange;
    border-radius: 5px;
    background-color: white;
}

.index{
    width: 45%;
    margin-bottom: 5px;
}

#index{
    padding: 5px;
}

.support{
    float: left;
    width: 55%;
    padding: 2px;
}

.businesses{
    border: 1px solid green;
    width: 59%;
    margin-left: 5px;
}

table {
    width:80%;
    border :1px solid green;
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;
    padding :2px;
    margin-top: 5px;
    margin-bottom: 35px;
}

caption{
    float: right;
}

th,td {
    border: 1px solid green;
    text-align: left;
    padding: 8px;
}

thead th {
  width: 25%;
}

.tablecolour{
    color: black;
    text-align: center;
    margin: 0px;
    float: right;
}

.table-aside{
    width: 40%;
    float: right;
}

label{
    float: left;
    width: 112px;
    padding-right: 10px;
    text-align: right;
}
input{
    margin-left: 1em;
    margin-bottom: .5em;
    width: 220px;
}
#button, #reset{
    margin-top: .5em;
    width: 8em;
    background-color: orange;
    border: 2px solid green;
}
input[type="textbox"]{width: 15px;}
#button{margin-left: 138px;}
#reset{margin-left: 82px;}
input[type="radio"]{width: 10px;}
.required{
    font-weight: bold;
    color:red;
}

.history{
    column-count: 3;
    column-rule: 1px solid black;
    column-gap: 25px;
    border: 1px solid green;
}

.history ol{
    padding-top: 0px;
}

#dates{
    margin-top: 0px;
}
